.navBar {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #43afff;
  align-items: center;
  .title {
    color: white;
    span {
      color: #43afff;
    }
  }
  .loginBtn {
    padding: 10px;
    cursor: pointer;
    color: white;
    font-family: Helvetica Neue;
    background: #43afff33 0% 0% no-repeat padding-box;
    border: 1px solid #43afff;
    border-radius: 5px;
  }
  .login {
    display: flex;
    width: 150px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    .post {
      color: #ffffff;
    }
    .profile {
      padding: 11px 15px;
      border-radius: 50%;
      background-color: #d9efff;
      color: #303f60;
      cursor: pointer;
    }
    .logout {
      position: absolute;
      top: 50px;
      right: -10px;
      padding: 10px 15px;
      background-color: #ffffff;
      cursor: pointer;
    }
  }
}
